.cart {
  max-width: 800px;
  margin: 70px auto;
  padding: 20px;
  text-align: center;
}

.cart h1 {
  font-size: 2em;
  margin-bottom: 20px;
  color: orange;
}

.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  border-radius: 10px;
  background-color: white;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
}

.cart-item:hover {
  transform: scale(1.02); /* ThÃªm hiá»‡u á»©ng phÃ³ng to khi hover */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); /* TÄƒng Ä‘á»™ Ä‘á»• bÃ³ng */
}

.cart-item img {
  width: 100px;
  height: auto;
  margin-right: 20px;
  border-radius: 8px;
}

.cart-item-info {
  flex: 1;
  text-align: left;
  min-width: 150px; /* Äáº£m báº£o cÃ³ Ä‘á»§ khÃ´ng gian cho thÃ´ng tin sáº£n pháº©m */
}

.cart-item h2 {
  font-size: 1.5em;
  margin: 0;
  color: black;
}

.cart-item p {
  font-size: 1.2em;
  margin: 5px 0;
  color: #555;
}

.cart-item-actions {
  display: flex;
  align-items: center;
  gap: 15px;
}

.quantity-controls {
  display: flex;
  align-items: center;
  gap: 8px;
}

.quantity-controls button {
  width: 30px;
  height: 30px;
  font-size: 1.2em;
  color: #333;
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s; /* ThÃªm hiá»‡u á»©ng khi hover */
}

.quantity-controls button:hover {
  background-color: #ddd;
}

.quantity-controls span {
  font-size: 1.2em;
  width: 40px;
  text-align: center;
}

.remove-button {
  padding: 8px 12px;
  background-color: #e74c3c;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.remove-button:hover {
  background-color: #c0392b;
}

.cart-total {
  margin-top: 20px;
  padding: 20px;
  text-align: right;
  border-top: 2px solid #f0f0f0;
}

.cart-total h2 {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.cart-total span {
  color: orange;
  font-weight: bold;
}

.checkout-button {
  background-color: orange;
  color: white;
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.checkout-button:hover {
  background-color: darkorange;
}
