/* Đảm bảo bạn đã import font đúng */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.container .main-section {
  text-align: left;
  padding: 150px;
  background: transparent !important;
}

.product-page {
  background-image: none !important;
}

.TopSeller h1, .TopSeller h2 {
  color: white;
}

.TopSeller h1 {
  margin-top: 100px;
  font-size: 50px;
  font-weight: 700;
}

.TopSeller h2 {
  font-size: 50px;
  font-weight: 400;
}

.product-item {
  background-color: rgb(224, 224, 224);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.product-item img {
  width: 300px;
  height: 300px;
  border-radius: 8px;
  object-fit: cover;
}

.product-item h3 {
  font-size: 24px;
  font-weight: bold;
  margin: 10px 0;
}

.product-item p.description {
  color: #000000;
  font-size: 14px;
}

.product-item p.price { 
  color: #d9534f;
  font-size: 16px;
  font-weight: bold;
}

button {
  background-color: #f08f35; /* Màu nền của nút */
  color: white; /* Màu chữ */
  padding: 10px 20px; /* Khoảng cách bên trong nút */
  border: none; /* Loại bỏ đường viền */
  border-radius: 8px; /* Bo góc nút */
  font-size: 16px; /* Kích thước chữ */
  font-weight: bold; /* Đậm chữ */
  cursor: pointer; /* Thêm hiệu ứng con trỏ */
  transition: background-color 0.3s, transform 0.3s; /* Thêm hiệu ứng chuyển động khi hover */
}

/* Thêm hiệu ứng khi hover */
button:hover {
  background-color: #ec9d67; /* Màu nền khi hover */
  transform: translateY(-2px); /* Nâng nút lên khi hover */
}

/* Style cho Link bên trong button */
.product-link {
  text-decoration: none; /* Loại bỏ gạch chân */
  color: white; /* Màu chữ trắng */
  font-size: 20px;
  background: none !important;
  width: 200px;
}

/* Thêm hiệu ứng cho Link khi hover */
.product-link:hover {
  text-decoration: underline; /* Gạch chân khi hover lên chữ */
}

.product-page .grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 20px;
  border-radius: 8px;
}
